{% extends "layout.html" %}

{% block content %}
<h1>{{ course  }}</h1>
{% if latest_list %}
<table class="table">
  <thead>
    <tr>
        <th rowspan="2" >اليوم</th>
        <th rowspan="2" >التاريخ</th>
        <th rowspan="2">عدد الطلاب</th>
        <th rowspan="2">الحضور</th>
        <th rowspan="2">الغياب</th>
        <th colspan="3">التسميع</th>
            <th rowspan="2">المراجعة</th>
    </tr>
     <tr>
        <th scope="col">عدد الأوجه</th>
        <th scope="col">الأخطاء</th>
         <th scope="col">اللحون</th>
    </tr>
  </thead>
  <tbody>
      {% for list in latest_list %}
      <tr>
       <td class="col2"> {{ list.name }}</td>
          <td class="col2"> <a href="/students/{{ list.id }}/">{{ list.date_hijri }}</a></td>
           <td class="col2"> {{ list.conut_student  }}</td>
          <td class="col2"> {{ list.conut_presence_student  }}</td>
          <td class="col2"> {{ list.conut_truant_student }}</td>


          <td class="col2"> {{ list.sum_count_save }}</td>
          <td class="col2"> {{ list.sum_count_erorr }}</td>

          <td class="col2"> {{ list.sum_count_alirt }}</td>
          <td class="col2"> {{ list.sum_count_link  }}</td>

  </tr>
      {% endfor %}
  </tbody>
</table>

    {% else %}
        <p>لا يوجد بيانات </p>
    {% endif %}
{% endblock %}